# Your official Notion API token
NOTION_TOKEN=

# Notion session cookies from your browser
NOTION_TOKEN_V2=
NOTION_FILE_TOKEN=

# The target git repository to archive notion pages
TARGET_REPO_DIR=/absolute/path/to/study-archive

# Optional: A path to the directory where the exported files will be saved within the repo
TARGET_SUBDIR=

# Git
TARGET_BRANCH=
GIT_USER_NAME=
GIT_USER_EMAIL=